.add-branch-container {
    margin-left: 10%;  /* Sidebar width */
    margin-top: 7%;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
    
  .form-container-b {
    margin-left: 23%; 
     margin-top: 3%; 
    /* margin-right: 15%; */
    padding: 2%; 
    flex-grow: 1;
    border: 0.5px solid;
    width: 60%;
    background-color: rgb(224, 227, 227);
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-around;
  }
 
  .input{
    padding: 3px;
    width: 95%;
  }

  .select{
    padding: 3px;
    width: 96%;
  }

  .btn-b{
    background-color: black;
    color: white;
    width: 25%;
    padding: 6px;
    border-radius: 10px;
    margin-top: 8px;
  }
  /* For tablets */
@media screen and (max-width: 768px) {
  .add-branch-container {
    margin-top: 7%;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }  
  .form-container-b {
    margin-left: 7%; 
     margin-top: 10%; 
    padding: 3%; 
    flex-grow: 1;
    border: 0.5px solid;
    width: 70%;
    background-color: rgb(224, 227, 227);
    border-radius: 5px;
  }
}
@media screen and (max-width: 480px) {
  .add-branch-container {
    margin-top: 7%;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }  
  .btn-b{
    background-color: black;
    color: white;
    width: 30%;
    padding: 6px;
    border-radius: 10px;
    margin-top: 5\9px;
  }
}