/* Container */
.teacher-dailyAttendanceContainer {
    position: relative;
    width: 100%;
    padding: 7%;
    box-sizing: border-box;
}
.Daily-att{
    top:-4vw;
    position: relative;
    font-size: 35px;
    font-weight:bolder;
    align-items: center;
    text-align: center;
}


/* Back button styles */
.Teacher-back-button {
    position: absolute;
    top: 7%;
    left: 1vw;
    font-size: 40px;
    font-weight:bolder;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 000; /* Ensures it's on top of other elements */
    color: black; /* Color for the button, can adjust based on your design */
}


/* Top buttons styling */
.Teacher-Top-Buttons {
    display: flex;
    justify-content: space-between; /* Ensure buttons are on opposite sides */
    margin-bottom: 20px;
    align-items: center;
    
}


/* Record details section */
.daily-teacher-RecordDetails {
    display: flex;
    justify-content: space-between; /* Aligns Updated Last and Total Lecture on opposite sides */
    align-items: center;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
}

.daily-teacher-UpdatedLast{
    display: flex;
}

.daily-teacher-TotalLecture{
    display: flex;
}

.normal-text{
    font-weight: 600;
}
/* Left side for Updated Last */
.teacher-leftSide {
    text-align: left;
}

/* Right side for Total Lecture */
.teacher-rightSide {
    text-align: right;
}

/* Styling for Updated Last */
.teacher-Updated-Last {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

/* Styling for Total Lecture */
.teacher-Total-Lecture {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

/* Date range section */
.teacher-dateRange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Date picker styling */
.teacher-datePicker {
    display: flex;
    align-items: center;
}
.Portal-select{
    font-size: 1.3rem;
    max-width: 50%;
    padding: 4px;
    background-color:  #4d87c1; 
    color: white;
    border: none;
    border-radius: 5px;
}

.sub-drop{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.teacherSub-Dropdown {
    /* position: relative; */
    display: flex;
   justify-content: start;
}

.attendanceBelow-Dropdown {
    display: flex;
    justify-content:end;
    width: fit-content;
    right: 140px;            
    top: 215px;          /* Increased top value to move it further down */
    /* padding: 4px; */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;  
}


  
@media(max-width:768px){
    .Teacher-back-button{
        top: 5%;
    }
    .Daily-att{
        margin-top: 10%;
        font-size: 2rem;
    }
}
@media(max-width:420px){
    .Daily-att{
        margin-top: 20%;
        font-size: 2rem;
    }
    .Teacher-back-button{
        top: 4%;
    }
}