body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  padding: 0%;
  margin: 0%;
}
button{
  margin: 0%;
  padding: 0%;
  background-color: brown;
  border: none;
}
/* Daily Attendance button of student and techer */
.daily-att-btn {
  padding: 1% 3%;
  background-color: #4d87c1; /* Blue background */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.daily-att-btn:hover {
  background-color:#3f77ae;
 font-family: 'DM Sans', sans-serif; 
}
.sh {
  display: flex;
  scroll-margin-top: var(--navbar-height);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #4d87c14a;
  border-radius: 5px;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
}
.logo-circle {
  width: 95px; /* Adjust size as needed */
  height: 95px;
  border-radius: 50%;
  background-color: #4d87c1; /* Change color as needed */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px; /* Adjust font size as needed */
  margin: 20px; /* Space between logo and welcome message */
 
}
.welcome{
  font-size: 27px;
  margin: 0px 0px;
  font-family: 'DM Sans', sans-serif;
}
.details {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 4%;
  min-width: 50%;
  max-width: 90%;
  align-self: center;
  border-radius: 8px;
  background-color: white;
  font-family: 'DM Sans', sans-serif;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add margin between profile and other details */
}
.container-section {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  
}