/* Container */
.teacher-scoreboard-container {
    padding: 3%;
  }
  
  /* Top buttons styling */
  .teacher-top-buttons {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .teacher-exam-dropdown{
   /* margin-top:13px; */
   align-self: center;
  }
 /* Info row styling */
  .teacher-info-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    font-size: 18px;
    /* font-weight:bold ; */
  }
  
  .teacher-info-row span {
    /* flex: 1; */
    text-align: left;
  }
  .teacher-maxmarks{
    padding-top: 10px;
    padding-left: 1%;
    font-size: 18px;
    /* font-weight:bold ; */
    display: flex;
    justify-content: space-between;

  }
  .portal-select{
    padding: 10px 10px;
    color:black; /* White text color */
    font-size: 16px; /* Adjust font size */
    border-radius: 5px; /* Adds rounded corners */
    outline: none; /* Removes the default border on focus */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
 
  }