/* Default Styles for Desktop */
.content {
  margin-left: 260px; /* Adjust the margin to match the sidebar width */
  padding-top: 3%;
  padding-left: 1%;
  text-align: center;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.container-section {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  
}
.profile-photo {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  /* border: 2px solid #ccc;  */
  border: 1px solid #e0e0e0; /* Lighter border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-right: 20px; 
}

.profile p {
  margin: 10px 0; 
  font-size: 2rem!important; /* Adjust this value as needed */
  font-weight: bold; /* Optional: makes the text bold */
}


.details p {
  margin: 10px 0; /* Add some margin between details */
  font-size: 1.3rem; /* Original font size */
}
.chart-container {
  width: 100%;
  max-width: 100%; /* Ensure the graph doesn't exceed the screen width */
  height: auto;    /* Maintain the aspect ratio */
  margin: 0 auto;  /* Center the chart */
}
/* 
.student-logo-circle {
  width: 95px; 
  height: 95px;
  border-radius: 50%;
  background-color: #4d87c1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px; 
  margin: 20px;
} */

.student-welcome{
  margin: 0px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 800px) {
  .content {
    margin-left: 0; /* Remove the sidebar margin on smaller screens */
    padding: 15px;
  }

  .student-details {
    width: 90%; /* Full width on smaller screens */
    height: auto; /* Adjust height to fit content */
    margin: 20px auto; /* Center the box horizontally */
    font-size: 16px; /* Smaller font size for responsiveness */
    text-align: left; /* Center content on smaller screens */
  }

  .profile-photo {
    width: 100px; /* Smaller size for mobile */
    height: 100px;
  }

  .sh {
    font-size: 20px; /* Adjust font size */
    padding: 10px;
    width: 100%; /* Full width for mobile */
  }
  .chart-container {
    padding: 10px;  /* Add some padding for small screens */
  }
  
}
