/* Navbar.css */
.snav {
  display: flex;
  justify-content: space-between; /* Aligns content between left and right */
  align-items: center;
  padding: 7px 20px;
  background-color:  rgb(92, 120, 238); /* Adjust the background color to your preference */
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.snavlogo-sli {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 0.5%; /* Adds some space from the left side */
}

.sul {
  display: flex;
  align-items: center;
  gap: 14px; /* Adjust the spacing between the items */
}

.sli {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.snav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.snav-link:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

.icon, .icon1, .icon2, .icon4 {
  width: 18px;
  height: 18px;
  margin-right: 8px; /* Space between icon and text */
}

.snavprofile-container {
  display: flex;
  align-items: center;
  position: relative; /* For showing the dropdown buttons */
  cursor: pointer;
  margin-right: 26px;
}

.snavprofile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.snavbutton {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.slogout-button {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: red;
  color: white;
  padding: 8px 16px;
}

.slogin-button {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: blue;
  color: white;
  padding: 8px 16px;
}
