.teacher-teacher-profile {
  text-align: left;
  margin-bottom: 20px;
}

.teacher-profile-header {
  display: flex;
  align-items: center;
}
/* 
.teacher-teacher-profile h1 {
  text-align: left;
  font-size: 34px;
  margin: 0 2%; 
} */
.teacher-teacher-profile p {
  font-size: 26px;
  margin: 2% 1%;
}