.teacher-teacher-profile {
  text-align: left;
  margin-bottom: 20px;
}

.teacher-profile-header {
  display: flex;
  align-items: center;
}
/* 
.teacher-teacher-profile h1 {
  text-align: left;
  font-size: 34px;
  margin: 0 2%; 
} */
.teacher-teacher-profile p {
  font-size: 26px;
  margin: 2% 1%;
}
@media(max-width:650px){
  .logo-circle{
    margin: 0%;
    min-width: 90px;
  }
  .teacher-profile-section{
    margin:0%;
  }
}
