.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%; /* Use viewport width to adjust the sidebar size according to screen size */
  max-width: 300px; /* Set a maximum width */
  height: 100%;
  background-color: #4d87c1;
  padding: 100px 20px 20px 20px;
  text-align: center;
  box-sizing: border-box;
  z-index: 999;
}

.Sidebar button {
  display: flex;
  align-items: left;
  gap: 10px; /* Space between icon and text */
  width: 100%;
  padding: 15px; /* Reduced padding for better scaling */
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f9f9f9;
  color: #494949;
  cursor: pointer;
  font-size: 0.8rem; /* Responsive font size */
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
 border: none;
 align-items: center;
}

.Sidebar button:hover {
  background-color: #eaf1f9;
}

.Sidebar .icons {
  width: 18px;
  height: 18px; /* Icon size remains the same */
  color:black;
  
}

/* Media query for desktop screens and mobile */
@media (max-width: 1066px) {
  .Sidebar {
    width: 15%; /* Increase the width for smaller screens */
    padding-top: 150px; /* Adjust padding */
  }

  .Sidebar button {
    font-size: 12px; /* Adjust button text size */
    padding: 10px; /* Smaller padding for buttons */
    gap:5px;
  }
}
@media (max-width: 1000px){
  .Sidebar button {
    font-size: 10px;
    padding: 7px;
    border-radius: 11px;
  }
  .Sidebar {
    width: 16%; /* Increase the width for smaller screens */
    padding-top: 150px; /* Adjust padding */
  }
}
@media(max-width: 768px){
  .Sidebar{
    width: 7%;
    padding:15% 0% 0% 2%;
  }
  .Sidebar button {
    width:34px;
    font-size: 0px;
    background-color: transparent;
    padding: 0%;
    padding-bottom: 20px;
    border-radius:0;

  }
  .Sidebar button:hover {
    background-color:transparent;
  }
  
  .icons{
    height: 10px;
    width: 10px;
  }
}
@media(max-width: 768px){
  .Sidebar{
    width: 8%;
    padding:15% 0% 0% 2%;
  }
}