.add-student-container {
   padding-top: 5%; 
   /* padding-left: 10%; */
   padding-bottom:2%;
  display: flex;
  flex-direction: column;
  height: auto;
  }
    
  .stuform-container {
    margin-left: 30%; 
    margin-top: 40px;
    margin-right: 15%;
    padding: 20px 20px 20px 40px;
    flex-grow: 1;
    border: 0.5px solid;
    width: 50%;
    background-color: rgb(224, 227, 227);
    border-radius: 5px;
    position: relative;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-around;
  }
 
  .input{
    padding: 3px;
    width: 95%;
  }

  .select{
    padding: 3px;
    width: 96%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .option{
    width: 70px;
  }
  .btn{
    background-color: black;
    color: white;
    max-width: 150px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 8px;
  }

    /* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}
  /* Media Query for tablets */
@media only screen and (max-width: 1024px) {
  .stuform-container {
    padding-top: 7%;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .btn {
    width: 25%;
  }
}

/* Media Query for smaller mobile devices (small screens) */
@media only screen and (max-width: 480px) {
  .stuform-container {
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    width: 78%;
  }
  .add-student-container{
    margin-left: 0%;
  }
}