
/* Make sure content doesn’t overlap with the fixed sidebar and header */
.main-content {
    margin-left: 210px;  /* Sidebar width */
    margin-top: 60px;  /* Navbar height */
    padding: 20px;
  }
  
  .container {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(21, 0, 0, 0.1);
  }
  @media (max-width: 2000px) {
    .container {
     margin-left: 0%;
      
    }
  }