.main{
    display: grid;
    grid-template-rows: 7dvh 93dvh;
    text-align: center;
}

.nav {
    display:grid;
    color: white;
    background-color: rgb(34, 33, 33); 
}

.body{
    display: grid;
    grid-template-columns: 20dvw 80dvw;
    background-color: rgb(240, 64, 64);
}

.side {
    background-color: rgb(79, 226, 226);
    margin:20px;
    border-radius: 5px;
}

.bd {
    display:grid;
    grid-template-rows: 15dvh 70dvh ;
    border-radius: 5px;
    margin:20px;
    /* border: 1px solid black; */
    background-color: rgb(79, 226, 226);
}
.hea{
    display: grid;
    background-color: beige;
    border-radius: 5px;
    margin:10px;
}
.de{
    background-color: burlywood;
    border-radius: 5px;
    margin:10px;
}