.adlogin-page-container {
  display: grid;
  grid-template-rows: 44px 94dvh;
  height: 100dvh;
  margin:0%;
  overflow-y:hidden;
}

 .adnavbar-container {
  background-color: #14617d;
  padding-left: 20.5px;
  height: 44px;
  color: white;
  align-content: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} 

/* Layout for content container */
.adcontent-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 92dvh;
}

/* Sidebar styling */
.adsidebar-section {
  background-color: #72acc2b0;
  place-items: center;
  display: grid;
  height: 95dvh;
}

.adsidebar-title {
  font-size: 25px;
  white-space: nowrap; /* Prevent wrapping */
  font-weight: bold; /* Bold text */
  text-align: center;
}

/* Image styling */
.adprofile-image-container {
  display: grid;
  grid-template-rows: 200px 50px ;
  justify-items: center;
  align-items: center;
}

.adimage-container {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.adprofile-image {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  object-fit: cover; /* Ensure the image is not distorted */
}

/* Login form styling */
.adlogin-form-container {
  display: grid;
  height: 100%;
  place-items: center;
}

.login-form-container {
  width: 50%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
}

.login-form-container h2 {
  display: grid;
  text-align: center;
  color: #333; 
  font-size: 2.2rem;
}

.adinput-group {
  display: flex;
  flex-direction: column;
  margin-top: 5%; 
}

.adinput-group label {
  display: block; 
  margin-bottom: 5px;
  font-size: 1rem;
}

.adinput-group input {
  display: flex;
  flex-shrink: 1;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.Password-Input-Container {
  display: flex;
  position: relative;
}

.Password-Input-Container input {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}


.login-form-container button {
  background-color: #14617d; 
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-top: 8%;
}

.login-form-container button:hover {
  background-color: #327c97;
}


.adsuccess-message {
  color: green;
}

.aderror-message {
  color: red;
}


.adnavbar-link {
  text-decoration: none; 
  color: white; 
}

.adnavbar-link:hover,
.adnavbar-link:active {
  color: white;
}

.adnavbar-title{
  width: fit-content;
}


.Password-Icon {
  position: absolute; 
  right: 6px; 
  top: 55%; 
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #333; 
}

@media (max-width: 768px) {

  .adcontent-wrapper {
    display: flex;
    flex-direction: column;
    height: 92dvh;                                                                  
  }

  .adsidebar-section {
    display: none;
  }

  .adlogin-form-container {
    background-color: #72acc2b0;
  }

  .login-form-container {
    padding: 4%;
    width: 80%;
    border-radius: 8px;
    background-color: #f3fcff;
  }
}

@media (min-width: 1080px) {
  .login-form-container {
    width: 40%;
  }
}