/* Default Sidebar Styles for Desktop */
.Sidebar1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%; /* Reduce width to prevent overlapping */
  height: 100vh;
  background-color: #4d87c1;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 900;
}

.Sidebar1.collapsed {
  transform: translateX(-100%); /* Hide sidebar */
}

.Sidebar1 button {
  margin-bottom: 20px;
  padding: 11px 16px; /* Adjust padding for a better look */
  cursor: pointer;
  background-color:#F9F9F9 ;
  border-radius: 15px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: none;
  font-family: 'DM Sans', sans-serif;
  transition: .3s ease;
}

.Sidebar1 button:hover {
  background-color: #b0cce8;
}

/* Hamburger Icon Styles for Mobile */
.Hamburger1 {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1100;
}

.Hamburger1.hide {
  display: none; /* Hide hamburger when sidebar is open */
}
@media (max-width: 2000px){
  .Sidebar1 button{
    padding: 20px 30px;
    font-size: 17px;
    margin:20px;
  }
}
@media (max-width: 1500px){
  .Sidebar1 button{
    padding: 15px 20px;
    font-size: 14px;
    margin:20px;
  }
}
@media (max-width: 1250px){
  .Sidebar1 button{
    font-size: 12px;
    white-space: nowrap;
  }

}

/* Media Query for Mobile View */
@media (max-width: 800px) {
  .Sidebar1 {
    width: 80%; /* Adjust width for mobile */
    height: auto;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    transform: translateX(-100%); /* Sidebar hidden by default on mobile */
    transition: transform 0.3s ease;
  }

  .Sidebar1.collapsed {
    transform: translateX(-100%); /* Hide sidebar */
  }

  .Hamburger1{
    display: block; /* Always show hamburger on mobile */
  }
}
@media (max-width: 898px){
  .Sidebar1 {
    width:15%;
  }
  .Sidebar1 button{
    font-size: 12px;
  }
}
@media (max-width: 989px){
  .Sidebar1 button{
    padding: 9px 9px;
    border-radius: 11px;
  }
  .Sidebar1{
    width: 15%;
  }
}