:root {
  --navbar-height: 51px;
  --sidebar-width: 15%;
  --main-bg-color: #e9ecef;
  --section-bg-color: #f9f9f9;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.teacher-dashboard {
  width: 81%;
  padding-top: 4.5%;
  display: flex;
  height: 100vh;
   margin-left: 17%;
  transition: margin-left 0.3s ease, width 0.3s ease;
}



.container-section {
    display: flex;
    flex-direction: column;
     width: 100%; 
}

.teacher-content {
  display: flex;
  flex-direction: column;
  width:97%;
  gap: 5%;
  box-sizing: border-box;
}

.teacher-section {
  background-color: #4d87c14a;
  border-radius: 5px;
  width: 100%;
  padding-left:2%; 
  
}

.teacher-profile-section {
  padding: 2%;
  max-width: 800px;
  margin: 0 15% 3% 15%;
  background-color: white;
  border-radius: 8px;
 
}

.teacher-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1024px) {
  .teacher-dashboard {
    margin-left: 0;
    width: 100%; 
  }

  .container-section {
      margin-left: 17%; 
      margin-top: 2%;
      width: 81%;
  }

  .teacher-sidebar {
    display: none;
  }

  .teacher-content {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 1070px) {
  .teacher-section{
    width:109%;
  }
}

@media (max-width: 768px) {

  .teacher-dashboard {
    width: 100%;
    margin: 0;
  }
  .container-section{
    margin: 0%;
     margin-left: 10%; 
    margin-top: 2%;
    padding: 0%;
  }

  .teacher-content {
    width: 100%;
  }

  .teacher-profile-section {
    padding: 1%;
    border-radius: 10%; 
    box-shadow: 0 3px 4px 20%;
  }
}
@media(max-width:650px){
  .teacher-profile-section{
    margin-left: 9%;
  }
  .teacher-profile-section h2{
    font-size: 1.5rem;
  }
}
@media(max-width:630px){
  .container-section{
    margin-top: 5%;
  }
}